#version=RHEL8
ignoredisk --only-use=vda
# Partition clearing information
clearpart --none --initlabel
# Use network installation
url --url="http://ftp.utexas.edu/centos/8/BaseOS/x86_64/"
# Use text install
text
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --no-activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$IS7RyM9KAdE.wyam$IvkT8K4hPrXrow7KM32p1X0b1w//ycoXHhajCVKuCoy74SNr5xflJEEuv/HroPMb1iMFHAAuUM15qSQaaIBrc/
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --disabled="chronyd"
# System timezone
timezone America/Monterrey --isUtc --nontp
user --groups=wheel --name=packer --password=$6$Jb.YrKD4ZYiXP.LX$xXrkk4t0fcjOAA6LxSCFYfjjxGajfLHwxfpU.GWkiU42K5SV2Jl./4Be2..tarjuXOw281v6Iznslabeb.v./1 --iscrypted --gecos="packer"
# Disk partitioning information
part pv.221 --fstype="lvmpv" --ondisk=vda --size=29528
part /boot --fstype="ext4" --ondisk=vda --size=1024
volgroup cl --pesize=4096 pv.221
logvol / --fstype="xfs" --size=28496 --name=root --vgname=cl
logvol swap --fstype="swap" --size=1024 --name=swap --vgname=cl

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
